<%- include('../includes/adminHeader.ejs') %>


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Order Table</h1>
                  <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                      For more information about DataTables, please visit the <a target="_blank"
                          href="https://datatables.net">official DataTables documentation</a>.</p> -->
                          <!-- <a href="/adminLogin/addCategory">
                            <button  class="btn btn-primary">Add Category</button>
                          </a> -->
                          <hr>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Order DataTables</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div style="width: 20%;">
                                    <input type="search" id="myInput" class="form-control form-control-sm" placeholder="search" aria-controls="dataTable">
                                </div>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    
                                    <thead>
                                        <tr>
                                            <td>ID</td>
                                            <th>Product Name</th>
                                            <th>Image</th>
                                            <th>Stock</th>
                                            <!-- <th>Category</th> -->
                                            <th>Mobile No.</th>
                                            <!-- <th>Price</th> -->
                                            <th>Status</th>
                                            <th>Status Changing</th>
                                        </tr>
                                    </thead>
                                    <!-- <tfoot>
                                        <tr>
                                            <td>ID</td>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Number</th>
                                            <th>Action</th>
                                           
                                        </tr>
                                    </tfoot> -->
                                    <tbody>
                                        <% for(var i=0;i<order.length;i++){%>
                                            <tr style="border: solid 5px;">
                                            <% for(var j=0 ;j<order[i].products.item.length ;j++) {%>
                                              <tr >
                                              <% for(var k=0;k<products.length;k++) {%>
                                                
                                               <% if(products[k]._id.toString()  ==  order[i].products.item[j].productId.toString()){ %>  
                                                  
                                                  
                                                
                                                <td><%= k+1 %></td>
                                                  <td ><%= products[k].productName %></td>
                                                  <td><img src="/user/images/<%= products[k].image %>" alt="" style="width: 50px; height: 50px;" ></td>
                                                  
                                                  <td style="text-align: center;"><%= order[i].products.item[j].qty %></td>
                                                  
                                                  <% if(j==0){ %>
                                                    <td><%= order[i].phone1 %></td>
                                                    <% }%>

                                                   

                                                    <% if(j==0){ %>
                                                  <td class="orderStatus"><%= order[i].status %></td>
                                                  <% }%>
                                    
                                                  <% if(j==0){ %>
                                                  <td>
                                                     
                                                  <select  order-id="<%= order[i]._id %>"  class="orderStatusChange">
                                                      <!-- <option value=""></option> -->
                                                      <option value="order confirmed" >order confirmed</option>
                                                      <option value="shipped" >shipped</option>
                                                      <option value="delivered" >delivered</option>
                                                      <option value="cancell" >cancell</option>
                                                      <option value="returned" >returned</option>
                                                  </select>
                                                  </td>
                                                  <% }%>
                                                
                                                
                                                
                                                <% }%>
                                               
                                              <%}%>
                                              
                                            </tr>
                                            
                                            <%}%>
                                            
                                          </tr>
                                        <%}%>  
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

                <script>

                    let arr=document.querySelectorAll(".orderStatus")
                    console.log(arr);
                    
                    let arr2=document.querySelectorAll(".orderStatusChange")
                    console.log(arr2)
         
                    arr2.forEach((element,index)=>{
                        console.log("in");
                     element.addEventListener('change',()=>{
                        console.log("hii");
                     arr[index].innerHTML = element.value
                       orderId = element.getAttribute('order-id')
                       console.log(orderId+"oderid")
                     fetch("/adminLogin/status/change", {
                         method: "put",
                         headers: {
                             "Content-Type": "application/json",
                             // Add any other headers here if needed
                         },
                         body: JSON.stringify({ value : element.value , idvalue: orderId}),
                     })
                         .then((response) => {
                             console.log("5....");
                             const result = response.json();
                            
                             return result;
                         })
                         .then((data) => {
                             console.log("data==" + data);
         
                         })
                         // .then(res=>{window.location.reload()})
                         .catch((err) => console.log(err));
                     })
                    })
                     
         
                    arr.forEach((element,index)=>{
                     changeArr = ['','order confirmed','shipped','delivered','returned']
                     const orderStatus = element.innerHTML
                     const status = changeArr.indexOf(orderStatus)
                     if (status>=0){
                       arr2[index].value =orderStatus;
         
                       let options = arr2[index].getElementsByTagName("option");
         
                       let selectedIndex = Array.from(options).findIndex(option => option.value === orderStatus);
         
                     for (let i = 0; i < selectedIndex; i++) {
                         options[i].disabled = true;
                      
                       
                     }
         
                   }
                     
                    })
         
                    // arr2.forEach((element,index)=>{
                    //  element.addEventListener('change',()=>{
         
                    //    let options = element.getElementsByTagName("option");
         
                    //    let selectedIndex = Array.from(options).findIndex(option => option.value === arr[index].innerHTML);
         
                    //  for (let i = 0; i < selectedIndex; i++) {
                    //      options[i].disabled = true;
                         
                    //  }
                    //  window.location.reload()
                    //  })
                    // })
         
                     // function statusChange(id){
                     //   let idval = id
                     //   var val = document.getElementById(id).value;
                     //   let arr=document.querySelectorAll(".orderStatus")
                     //   arr.forEach((element,index)=>{
                     //     console.log(val+"...................",element.innerHTML)
                     //   })
                     // }
         
         
         
         
         
         
         
                </script>


    <%- include('../includes/adminFooter.ejs') %>

    