<%- include('../includes/header.ejs') %>

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Address</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Add Address</a>
								    </li>
									<li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account2" role="tab" aria-controls="tab-account2" aria-selected="false"><span onclick="Details()">Account Details</span></a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" href="#">Sign Out</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
								    	<p>Hello <span class="font-weight-normal text-dark">User</span> (not <span class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>) 
								    	<br>
								    	From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
								    	<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
											<p>Orders</p>
											<thead>
												<tr>
													<td>ID</td>
													<th>Product Name</th>
													<th>Image</th>
													<th>Stock</th>
													<!-- <th>Category</th> -->
													<th>Price</th>
													<th>Mobile No.</th>
													
													<th>Status</th>
													<th>Show</th>
												</tr>
											</thead>
											<!-- <tfoot>
												<tr>
													<td>ID</td>
													<th>Name</th>
													<th>Email</th>
													<th>Number</th>
													<th>Action</th>
												   
												</tr>
											</tfoot> -->
											<tbody>
												
														
									
															  <% for(var i=0;i<orders.length;i++){%>
																<tr style="border: solid 5px;">
																<% for(var j=0 ;j<orders[i].products.item.length ;j++) {%>
																  <tr >
																  <% for(var k=0;k<product.length;k++) {%>
																	
																   <% if(product[k]._id.toString()  ==  orders[i].products.item[j].productId.toString()){ %>  
																	  
																	  
																	
																	<td><%= k+1 %></td>
																	  <td ><%= product[k].productName %></td>
																	  <td><img src="/user/images/<%= product[k].image %>" alt="" style="width: 50px; height: 50px;" ></td>
																	  
																	  <td style="text-align: center;"><%= orders[i].products.item[j].qty %></td>
																	  
																	  <% if(j==0){ %>
																		<td style="text-align: center;"><%= orders[i].products.totalPrice %></td>
																		<% }%>

																		<% if(j==0){ %>
																			<td style="text-align: center;"><%= orders[i].phone1 %></td>
																			<% }%>
																	  
																		<% if(j==0){ %>
																	  <td style="text-align: center;"><%= orders[i].status %></td>
																	  <% }%>
									
																	  <% if(j==0){ %>
																		<td style="text-align: center;">
																		  <a href="/orderStatus?id=<%= orders[i]._id %>" style="text-decoration: none;" >Show</a>
																		</td>
																		<% }%>
				  
																	
																	<% }%>
																   
																  <%}%>
																  
																</tr>
																
																<%}%>
																
															  </tr>
															<%}%>
									
															
									
									

													
											</tbody>
										</table>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
								    	<p>No downloads available yet.</p>
								    	<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
								    	<p>The following addresses will be used on the checkout page by default.</p>

										
								    	<div class="row">
								    		<div class="col-lg-6">
                                                
                                                <% for(var i=0;i<products.length;i++){%>
								    			<div class="card card-dashboard">
								    				<div class="card-body">
								    					<h3 class="card-title">Billing Address</h3><!-- End .card-title -->
                                                        
                                                        <p><%= products[i].fullname %><br>
															<%= products[i].phone1 %><br>
															<%= products[i].pincode %><br>
															<%= products[i].state %><br>
															<%= products[i].city %><br>
															<%= products[i].houseNo %><br>
															<%= products[i].roadName %><br>
														
														<a href="#">Edit <i class="icon-edit"></i></a></p>
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
												<%}%>
								    		</div><!-- End .col-lg-6 -->

								    		<div class="col-lg-6">
								    			<div class="card card-dashboard">
								    				<div class="card-body">
								    					<h3 class="card-title">Shipping Address</h3><!-- End .card-title -->

														<p>You have not set up this type of address yet.<br>
														<a href="#">Edit <i class="icon-edit"></i></a></p>
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->
								    	</div><!-- End .row -->
										
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
								    	<form action="/myAcountAddress" method="post" style="padding-bottom: 5%;">
			                				<div class="row">
			                					<div class="col-sm-6">
			                						<label>Full Name *</label>
			                						<input type="text" class="form-control" name="name" required>
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Phone Number *</label>
			                						<input type="text" class="form-control" name="number" required>
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->

		            						<label>Pincode *</label>
		            						<input type="text" class="form-control" name="pincode" required>
		            						<!-- <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small> -->

		                					<!-- <label>Email address *</label>
		        							<input type="email" class="form-control" required> -->

		            						<label>State</label>
		            						<input type="text" class="form-control" name="state">

		            						<label>City</label>
		            						<input type="text" class="form-control" name="city">

		            						<label>House No</label>
		            						<input type="text" class="form-control mb-2" name="house">

											<label>Road Name</label>
		            						<input type="text" class="form-control mb-2" name="road">

		                					<button type="submit" class="btn btn-outline-primary-2" style="background-color: rgb(0, 0, 0); color: aliceblue;">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
								    </div><!-- .End .tab-pane -->


									<div class="tab-pane fade" id="tab-account2" role="tabpanel" aria-labelledby="tab-account-link">
								    	<form action="/dashboardpost" method="put">
			                				<div class="row">
			                					<div class="col-sm-6">
													<label>User Name *</label>
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Emain *</label>
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->

		            						<label>Phone *</label>
		            						

		                					<button type="submit" class="btn btn-outline-primary-2" >
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

		<script>
			function Details(){
				
			}

			
		</script>

<%- include('../includes/footer.ejs') %>